/*
 *  Name: FineFind - Notifier
 *  Author: LeonsDepot (Leon Watermann)
 *  Url: https://github.com/leonsdepot/FineFind
 */

::part(finefind-notifier), #finefind-notifier {
  margin: 0rem;
  padding: 1.4rem 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  visibility: hidden;
  position: fixed;
  left: 0rem;
  bottom: 4rem;
  box-sizing: border-box;
  background-color: #F8F8F8;
  box-shadow: 0.2rem 0.2rem 2.2rem -1rem black;
  border-radius: 0.4rem;
  z-index: 99;
}

::part(finefind-notifier-icon), #finefind-notifier-icon {
  height: 2rem;
  width: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

::part(finefind-notifier-textbox), #finefind-notifier-textbox {
  margin: 0rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  user-select: none;
}

::part(finefind-notifier-text), #finefind-notifier-text {
  margin: 0rem;
  padding: 0rem;
  font-family: sans-serif;
  font-size: 1.4rem;
}

::part(finefind-notifier-subtext), #finefind-notifier-subtext {
  margin: 0rem;
  padding: 0rem;
  font-family: sans-serif;
  font-size: 0.84rem;
  font-style: italic;
}