/*
 *  Name: FineFind - Options
 *  Author: LeonsDepot (Leon Watermann)
 *  Url: https://github.com/leonsdepot/FineFind
 */

:root {
  --blue: #008ea4;
  --white: white;
  --black: #23222b;
  --light-gray: lightgray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #23222b;
    --bg-color-contrast: white;
    --color: white;
    --color-contrast: #23222b;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: white;
    --bg-color-contrast: #23222b;
    --color: #23222b;
    --color-contrast: white;
  }
}


/* Elements */

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  background-color: var(--bg-color);
  color: var(--color);
  font-family: sans-serif;
  font-size: 1rem;
}

form {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.44rem 3.4rem;
}

form.--compact {
  grid-template-columns: max-content auto;
  column-gap: 1.4rem;
}

form > div.rangeAndValue {
  display: grid;
  grid-template-columns: auto 3rem;
}

form > div.rangeAndValue > output {
  display: flex;
  justify-content: flex-end;
}

label {
  align-self: center;
}

input {
  height: 1.4rem;
  padding: 0rem 0.4rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--light-gray);
}

input[type=checkbox] {
  aspect-ratio: 1 / 1;
  align-self: end;
}

input[type=number] {
  padding-right: 0rem;
}

button, .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1rem;
  border: 0.1rem solid var(--bg-color-contrast);
  border-radius: 0.2rem;
  background-color: var(--bg-color);
  color: var(--bg-color-contrast);
  text-decoration: none;
  text-align: center;
}

button:hover, .button:hover {
  background-color: var(--light-gray);
  border-color: var(--black);
  color: var(--black);
  transition: 0.6s;
}

h1 { font-size: 1.2rem }
h2 { font-size: 1.1rem; font-weight: bold; }

.banner {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--blue);
  border-radius: 0.33rem;
  color: var(--white);
  gap: 1rem;
}

.bubbleBox {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: 0.8rem;
}

.bubble {
  flex: 1;
  padding: 1rem 0.6rem;
  border: none;
  border-radius: 2rem;
}

.previewBox {
  display: grid;
  grid-template-columns: 4rem auto;
  gap: 0.44rem 1.4rem;
}

#actionButtons {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.44rem 1.4rem;
}

#finefind-indicatorBox {
  display: flex;
  flex-direction: column;
}

#finefind-indicator {
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Spacing */

h1, h2, h3, h4, h5, h6 { margin-top: 1.4rem; margin-bottom: 0.8rem; }
main > *, section > *, article > * { margin-bottom: 1rem; }
*:last-child { margin-bottom: 0rem; }
*:first-child { margin-top: 0rem; }