/*
 *  Name: FineFind - Options
 *  Author: LeonsDepot (Leon Watermann)
 *  Url: https://github.com/leonsdepot/FineFind
 */

:root {
  --blue: #008ea4;
  --white: white;
  --black: #23222b;
  --light-gray: lightgray;
  --dark-gray: #bdb9b9;
  --finefind: #38d878;
  --red: #cf222e;
  --yellow: #e4b600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #23222b;
    --bg-color-contrast: white;
    --color: white;
    --color-contrast: #23222b;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: white;
    --bg-color-contrast: #23222b;
    --color: #23222b;
    --color-contrast: white;
  }
}


/* Elements */

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  background-color: var(--bg-color);
  color: var(--color);
  line-height: 1.6;
  font-family: sans-serif;
  overflow-wrap: anywhere;
  font-size: 1rem;
}

form {
  display: grid;
  grid-template-columns: minmax(0, max-content) auto;
  gap: 0.44rem 3.4rem;
}

form.--compact {
  column-gap: 1.4rem;
}

form > div.rangeAndValue {
  display: grid;
  grid-template-columns: auto 3rem;
}

form > div.rangeAndValue > output {
  display: flex;
  justify-content: flex-end;
}

label {
  align-self: center;
}

input {
  height: 1.4rem;
  padding: 0rem 0.4rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--light-gray);
}

input[type=checkbox] {
  aspect-ratio: 1 / 1;
  align-self: end;
}

input[type=number] {
  padding-right: 0rem;
}

input[type=range] {
  min-width: 2rem;
}

button, .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1rem;
  border: 0.1rem solid var(--bg-color-contrast);
  border-radius: 0.2rem;
  background-color: var(--bg-color);
  color: var(--bg-color-contrast) !important;
  text-decoration: none;
  text-align: center;
  transition: 0.4s;
}
button.--tip, .button.--tip { border-color: var(--finefind); }
button.--note, .button.--note { border-color: var(--blue); }
button.--warning, .button.--warning { border-color: var(--yellow); }

button.--hidden, .button.--hidden {
  display: none;
}

button.--warn, .button.--warn {
  border-color: darkorange;
}

button.--icon, .button.--icon {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
  padding: 0.3rem;
}

button.--icon > *, .button.--icon > * {
  height: 100%;
  width: 100%;
}

button:hover, .button:hover {
  background-color: var(--light-gray);
  border-color: var(--black);
  color: var(--black) !important;
  transition: 0.6s;
}

button:active, .button:active {
  background-color: var(--dark-gray);
  border-color: var(--black);
  color: var(--black) !important;
  transition: 0s;
}

button.buttonContainerAction,
.button.buttonContainerAction {
  height: 1.7rem;
  width: 1.7rem;
  top: 1.01rem;
  right: 0.31rem;
  position: absolute;
}

h1 { font-size: 1.2rem }
h2 { font-size: 1.1rem; font-weight: bold; }

.banner {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 0.1rem solid var(--light-gray);
  background-color: var(--light-gray);
  border-radius: 0.33rem;
  gap: 1rem;
}
.banner.--tip { border-color: var(--finefind); }
.banner.--note { border-color: var(--blue); background-color: var(--blue); }
.banner.--warning { border-color: var(--yellow); background-color: var(--yellow); }
.banner.--warning * { color: var(--color-contrast); }

.gridBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(8rem, 100%), 1fr));
  gap: 0.8rem;
}

.bubbleBox {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: 0.8rem;
}

.bubbleBox > * {
  flex: 1;
  padding: 1rem 0.6rem;
  border: none;
  border-radius: 2rem;
}

.svgAndText {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  flex-wrap: wrap;
  min-width: 7rem;
  justify-content: center;
}

.svgAndText > svg:first-child {
  flex: 0 0 auto;
  height: 3.2rem;
  width: 3.2rem;
}

.svgAndText > p {
  flex: 1 1 2rem;
  overflow-wrap: anywhere;
  min-width: 0;
  text-align: left;
}

.previewBox {
  display: grid;
  grid-template-columns: 4rem auto;
  gap: 0.44rem 1.4rem;
}

.wrapFillBox {
  flex-wrap: wrap;
  white-space: nowrap;
}

.wrapFillBox > * {
  flex: 1;
}

#actionButtons {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.88rem 1.4rem;
}

#finefind-indicatorBox {
  display: flex;
  flex-direction: column;
}

#finefind-indicator {
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Spacing */

h1, h2, h3, h4, h5, h6 { margin-top: 1.4rem; margin-bottom: 0.8rem; }
main > *, section > *, article > * { margin-bottom: 1rem; }
*:last-child { margin-bottom: 0rem; }
*:first-child { margin-top: 0rem; }